<!DOCTYPE html>
<html lang="en">

    <!--El head-->
        <%- include ("partials/head.ejs") %>
        <!-- <link rel="stylesheet" href="/css/tutuni-inicio.registrotablet.css">
            <link rel="stylesheet" href="/css/tutuni-inicio.registrolaptop.css"> -->
            
            <link rel="stylesheet" href="/css/register.css">
            <script defer src="/js/userValidation.js"></script>
        </head>
        
    <body class="background">
        <%- include ("partials/header.ejs") %>
    
    <main>
        <div class="below-head-bar">
            <p class="title">Edita tu perfil</p>
            <div class="register-box-location">
                <div class="register-box">
                    <form class="flex-form-re" action="/users/profile/editado?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div>
                            <label for="fullName">Nombre y apellido</label>
                                <% if (locals.errors && errors.fullName) { %>
                                    <%= errors.fullName.msg %>
                                    <% } %>  
                                <input type="text" name="fullName" id="fullName" value="<%= locals.oldData ? oldData.fullName :  user.fullName %>">
                        </div>
                        <div class="m-top">
                            <label for="username">Nombre de usuario</label>
                            <% if (locals.errors && errors.username) { %>
                                <%= errors.username.msg %>
                                <% } %>     
                            <input type="text" name="username" id="username" value="<%= locals.oldData ? oldData.username :  user.username %>">
                        </div>
                        <div class="m-top">
                            <label for="email">Direccion de correo electronico</label>
                            <% if (locals.errors && errors.email) { %>
                                <%= errors.email.msg %>
                                <% } %>           
                            <input type="email" name="email" id="email" value="<%= locals.oldData ? oldData.email :  user.email %>">
                        </div>

                        <!-- Ojo con esta -->
                        <div class="m-top">
                            <label>Imagen para el perfil:</label>
                            <input class="sacar-esto" type="file" name=avatar>
                        </div>
                        <!-- Ojo con esta -->
                        <div class="m-top">
                            <label for="birthdate">Fecha de nacimiento</label>    
                            <% if (locals.errors && errors.birthdate) { %>
                                <%= errors.birthdate.msg %>
                                <% } %>          
                            <input type="date" name="birthdate" id="birthdate" value="<%= locals.oldData ? oldData.birthdate :  user.birthdate %>"> 
                        </div>
                        <div class="m-top">
                            <label for="adress">Domicilio</label>  
                            <% if (locals.errors && errors.adress) { %>
                                <%= errors.adress.msg %>
                                <% } %>             
                            <input type="text" name="adress" id="adress" value="<%= locals.oldData ? oldData.adress :  user.adress %>"> 
                        </div>
                        <div class="m-top">
                            <label for="password">Contraseña</label>            
                            <input type="password" name="password" id="password">
                            <% if (locals.errors && errors.password) { %>
                                <div> <%= errors.password.msg %>  </div>
                            <% } %>
                        </div>
                        <div>
                            <t>Los datos se editaran exitosamente si la contraseña coincide</t>
                        </div>
                        <div class="m-top button-flex">
                            <button type="submit">Aceptar</button>
                            <h2><button type="reset">Borrar informacion</button></h2>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        
    </main>
    <%- include("partials/footer") %>
    </body>

</html>