<!DOCTYPE html>
<html lang="en">
    <!--El head-->
    <%- include ("partials/head.ejs") %>
    <link rel="stylesheet" href="/css/createProduct.css">
    </head>
    <!--El head-->
    <body class="background">
        <%- include ("partials/header.ejs") %>
    <!--</body>-->
    <main class="below-head-bar">
        <!--<form action="/products" method="POST" enctype="multipart/form-data" class="desktop-m"> -->
            <form action="/products/create" enctype="multipart/form-data" method="POST" class="desktop-m">
            <div class="title">
                <label for="name" class=""></label>
                <input
                    class="letter-title"
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Ingresar Título"
                    required
                >
            </div>
            <div>
                <label for="image" class="create-letter"></label>
                <section class="images">
                    <div class="images-container">
                        <div class="flex-image-small">
                            <div class="image-small">
                                <img src="../images/agregar-imagen.png" alt="add-image-small" class="add-image-small">
                            </div>
                            <div class="image-small">
                                <img src="../images/agregar-imagen.png" alt="add-image-small" class="add-image-small">
                            </div>
                            <div class="image-small">
                                <img src="../images/agregar-imagen.png" alt="add-image-small" class="add-image-small">
                            </div>
                            <div class="image-small">
                                <img src="../images/agregar-imagen.png" alt="add-image-small" class="add-image-small">
                            </div>
                        </div>
                        <div class="main-image-container">
                            <div class="main-image">
                                <img src="../images/agregar-imagen.png" alt="add-image" class="add-image">
                            </div>
                        </div>
                    </div>
                </section>
    
                <!-- Esto input pone lo de agregar las imagenes etc, pero como todavia no nos
                    enseñaron a que, al cliquear algo 'x' se puede importar una imagen lo saco
                    para que la vista se vea linda -->
                    
                    <!-- Lo descomente para poder probar -->
                 <input
                    class="form-input"
                    type="file"
                    id="image"
                    name="image"
                    accept="image/jpeg,image/png"
                 >      
            </div>
            <div class="blocks-margin">
                <article class="container">
                    <div class="image-block categoria"></div>
                    <div class="block-text">
                        <div class="column-flex">
                            <label for="category" class="create-letter">Categoria</label>
                            <div class="same-line">
                                <select name="category" id="category" class="user-answer-select">
                                    <% for (const category of categories) { %>
                                        <option value="<%= category.id %>"><%= category.categoryName %></option>
                                        <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="container">
                    <div class="image-block stock"></div>
                    <div class="block-text">
                        <div class="column-flex">
                            <label for="stock" class="create-letter">Stock</label>
                            <div class="same-line">
                                <input
                                    class="user-answer"
                                    type="number"
                                    id="stock"
                                    name="stock"
                                    placeholder="???"
                                    required
                                    />
                                <p class="block-letter-extras2"> unidad</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="container">
                    <div class="image-block talles"></div>
                    <div class="block-text">
                        <div class="column-flex">
                            <label for="talles" class="create-letter">Talles</label>
                            <div class="same-line">
                                <select name="talles" id="talles" class="user-answer-select">
                                    <option value="" disabled selected>Elegí talle</option>
                                    <option value="xsmall">XS</option>
                                    <option value="small">S</option>
                                    <option value="medium">M</option>
                                    <option value="large">L</option>
                                    <option value="xlarge">XL</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="container">
                    <div class="image-block precio"></div>
                    <div class="block-text">
                        <div class="column-flex">
                            <label for="price" class="create-letter">Precio</label>
                            <div class="same-line">
                                <p class="block-letter-extras2">$</p>
                                <input
                                    class="user-answer"
                                    type="number"
                                    id="price"
                                    name="price"
                                    placeholder="???"
                                    required
                                />
                            </div>
                        </div>
                    </div>
                </article>
                <article class="container">
                        <div class="image-block descuento"></div>
                        <div class="block-text">
                            <div class="column-flex">
                                <label for="discount" class="create-letter">Descuento</label>
                                <div class="same-line">
                                    <input
                                        class="user-answer"
                                        type="text"
                                        id="discount"
                                        name="discount"
                                        placeholder="???"
                                        required
                                    />
                                    <p class="block-letter-extras2"> %OFF</p>
                                </div>
                            </div>
                        </div>
                </article>
                <article class="container">
                    <div class="image-block envio-gratis"></div>
                    <div class="block-text">
                        <div class="column-flex">
                            <label for="shipping" class="create-letter">Envio Gratis</label>
                            <div class="same-line">
                                <select name="shipping" id="shipping" class="user-answer-select">
                                    <option value="" disabled selected>???</option>
                                    <!-- <option value="si">Si</option>
                                    <option value="no">No</option> -->
                                    <option value="Envio-gratis">Envio gratis</option>
                                    <option value="Sin-envio">Sin envio</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </article>
            </div> 
    
            <!-- VOY A VER COMO HACER ESTO EN FORMATO DE FORM -->
            <section class="formas-pago">  
                <label for="pago" class="create-letter center white">Formas de pago</label>
                <nav class="container-opciones">
                    <div class="flex-option">
                        <div class="container-image">
                            <div class="image">
                                <img src="../images/credito.png" alt="remera">
                            </div>
                        </div>
                        <a href="#">Credito</a>
                    </div>
                    <div class="flex-option">
                        <div class="container-image">
                            <div class="image">
                                <img src="../images/debito.png" alt="pantalon">
                            </div>
                        </div>
                        <a href="#"><p>Debito</p></a>
                    </div>
                    <div class="flex-option">
                        <div class="container-image">
                            <div class="image">
                                <img src="../images/efectivo.png" alt="abrigo">
                            </div>
                        </div>
                        <a href="#">Efectivo</a>
                    </div>
                    <div class="flex-option">
                        <div class="container-image">
                            <div class="image">
                                <img src="../images/otros-pago.png" alt="calzado">
                            </div>
                        </div>
                        <a href="#">Otros</a>
                    </div>
                </nav>
            </section>
            <!-- VOY A VER COMO HACER ESTO EN FORMATO DE FORM -->
    
            <div class="description">
                <label for="description" class="create-letter white">Descripción</label>
                <div class="position-area">
                    <textarea
                        name="description"
                        id="description"
                        class="description-area"
                    ></textarea>
                </div>
            </div>
            <div class="guardar-centrado">
                <div class="guardar">
                    <button type="submit" class="button">
                        Guardar
                    </button>
                    <button type="reset" class="button">
                        Borrar
                    </button>
                </div>
            </div>
    
        </form>
    
    </main>
    <!--El footer-->
    <%- include ("partials/footer.ejs") %>
    <!--El footer-->
</body>
<!-- probe mandando el </body> al final (antes estaba arriba) -->
</html>