<!DOCTYPE html>
<html lang="en">
    <!--El head-->
        <%- include ("partials/head.ejs") %>
        <link rel="stylesheet" href="/css/product-detail.css">
        <script defer src="/js/cart.js"></script>
    </head>
    <!--El head-->
    <body class="background">
        <%- include ("partials/header.ejs") %>
    <!--</body>-->
    

    <main class="below-head-bar">

        <div>
            <div class="product-title cart-product-name"><%= elegido.name %></div>
        </div>

        <section class="images">
            <div class="images-container">
                <div class="flex-image-small">
                    <div class="image-small">
                        <img src="../../images/agregar-imagen.png" alt="add-image-small" class="add-image-small">
                    </div>
                    <div class="image-small">
                        <img src="../../images/agregar-imagen.png" alt="add-image-small" class="add-image-small">
                    </div>
                    <div class="image-small">
                        <img src="../../images/agregar-imagen.png" alt="add-image-small" class="add-image-small">
                    </div>
                    <div class="image-small">
                        <img src="../../images/agregar-imagen.png" alt="add-image-small" class="add-image-small">
                    </div>
                </div>
                <div class="main-image-container">
                    <div class="main-image">
                        <img class="cart-product-image" src="/../images/productos/<%= elegido.image %>" alt="image" width="100%" class="product-image">
                    </div>
                </div>
            </div>
        </section>

        <section class="size">
            <div class="size-container">
                <div class="size-circle">XS</div>
                <div class="size-circle">S</div>
                <div class="size-circle">M</div>
                <div class="size-circle">L</div>
                <div class="size-circle">XL</div>
                <div class="size-circle">XXL</div>
            </div>
        </section>
        
        <div class="size-guide">
            <i class="fas fa-ruler-horizontal ruler"></i>
            Guía de Talles y Cortes
        </div>

        <section class="article-info">
            <div>
                <p class="product-price tachado">$<%= elegido.price %> </p>
                <div class="same-line">
                    <p class="product-price-discount cart-product-final-price">$<%= elegido.price - (elegido.price * (elegido.discount/100)) %>  </p>
                    <p class="discount"> <%= elegido.discount %>%  OFF</p>
                </div>
            </div>

            <div>
                <div class="button">
                    <button class="add-buy buy">Comprar Ahora</button>
                </div>
    
                <div class="button">
                   <button class="add-buy add addToCartButton"> <a href="/carrito/agregar/<%= elegido.id %> ">Añadir al carrito</a></button>
                    <!-- Mati: Voy a probar lo del carrito (class: addToCartButton) -->
                </div>
            </div>
        </section>

        <section class="article-info">
            <div class="cart-product">
                <p class="info-title">Información del Producto</p>
                <p class="info-subtitle"> Categoría</p>
                <p class="article-data"><%= elegido.category.categoryName %></p>
                <!-- OJO QUE NO ME LO TRAE -->
                <p class="info-subtitle"> Stock Disponible </p>
                <p class="article-data"> Contamos con <%= elegido.stock %> unidades, cualquier cosa porfavor consultarnos.</p>
                <p class="info-subtitle"> Descipción </p>
                <p class="article-data"> <%= elegido.description %></p>
            </div>




            <div class="favorites">
                <a href="/users/profile/likes/<%= elegido.id %>"><i class="far fa-heart heart"></i></a>
                Guardar en Favoritos
            </div>
        </section>
    </main>

    <%- include ("partials/footer.ejs") %>

</html>


 
<!-- CREO QUE ACA SE DEBERIA PREGUNTAR SI EL QUE ENTRO ES EL QUE CREO EL PRODUCTO
                EN ESE CASO TENDRIA ESTAS OPCIONES. -->

    <!-- <div>
        <form action="/products/delete/<%= elegido.id %>?_method=DELETE" method="POST">
        <button type="submit">
            Borrar producto
        </button>
        </form>
        <a href="/products/edit/<%= elegido.id %>">Editar este producto</a>
    </div> -->