<!DOCTYPE html>
<html lang="en">

        <%- include ("partials/head.ejs") %>
        <!-- <link rel="stylesheet" href="/css/userLikes.css" /> -->
        <link rel="stylesheet" href="/css/userLikes.css">
        <title>Tus favoritos</title>
    </head>

    
    <%- include ("partials/header") %>
    <body class="background">
        <main>

            <div class="below-head-bar">
                <div class="fav-page-container">
                

                <% if (user.products[0]) { %> 
                <% for (let product of user.products) { %> 


                        <div class="container-product-fav">
                            <div class= "product-image"> 
                                 <img src="/../images/productos/<%= product.image %>" alt="imagen" width="100%" />                    
                             </div>
                             <div class="fav-info">
                                 <div class="fav-name"> <%= product.name %> </div>
                                 <div class="same-line">
                                    <p class="product-price-discount">$ <%= product.price - (product.price * (product.discount/100)) %> </p>
                                    <p class="discount"> <%= product.discount %>%  OFF</p>
                                </div>
                                 <div class="fav-button-delete">
                                     <a href="/users/profile/likes/delete/<%= product.id %> ">
                                         Borrar
                                     </a>
                                 </div>
                             </div>

                        </div>
                        <% } %> 
                        <% } else { %>
            
                            No tenes likes
            
                            <% } %> 
                </div>
            </div>

            <a href="/users/profile">Ir a tu perfil</a>
        </main>
    </body>

</html>